<a href="https://colab.research.google.com/github/WKhisa/Data-Pipelines-with-Airflow/blob/main/Data_Pipelines_with_Airflow_IPP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [9]:
customer_data_df = pd.read_csv('https://raw.githubusercontent.com/WKhisa/Data-Pipelines-with-Airflow/main/customer_data.csv')
order_data_df = pd.read_csv('https://raw.githubusercontent.com/WKhisa/Data-Pipelines-with-Airflow/main/order_data.csv')
order_data_df = pd.read_csv('https://raw.githubusercontent.com/WKhisa/Data-Pipelines-with-Airflow/main/payment_data.csv')

,customer_id,first_name,last_name,email,country,gender,date_of_birth
0,1,John,Doe,john.doe@example.com,USA,Male,1990-01-01
1,2,Jane,Smith,jane.smith@example.com,USA,Female,1992-05-12
2,3,Paul,Mukasa,paul.mukasa@example.com,Rwanda,Male,1985-07-28
3,4,Grace,Uwase,grace.uwase@example.com,Rwanda,Female,1995-12-31
4,5,Emmanuel,Mukiza,emmanuel.mukiza@example.com,Rwanda,Male,1987-03-15
5,6,Angela,Mirembe,angela.mirembe@example.com,Uganda,Female,1991-09-03
6,7,Joseph,Ndung'u,joseph.ndungu@example.com,Kenya,Male,1983-11-11
7,8,Esther,Kimani,esther.kimani@example.com,Kenya,Female,1998-02-20
8,9,David,Mwanza,david.mwanza@example.com,Tanzania,Male,1982-08-08
9,10,Fatma,Said,fatma.said@example.com,Tanzania,Female,1993-06-22

In [10]:
order_data_df = pd.read_csv('https://raw.githubusercontent.com/WKhisa/Data-Pipelines-with-Airflow/main/order_data.csv')
order_data_df = pd.read_csv('https://raw.githubusercontent.com/WKhisa/Data-Pipelines-with-Airflow/main/payment_data.csv')